*{
    margin: 0;
    padding: 0;
}

.container{

    margin: 0 auto;
}

/* Styling header and navigation */
header{
    background-color: red;
    min-height: 80px;
}

#navbar{
    position: fixed;
}


/* Styling content */
.main{
    background-color: white;
    min-height: 450px;
    overflow: hidden;
}

.left{
    background-color: #009;
    min-height: 450px;
    min-width: 300px;
    float: left;
    
    
}

/* Style welcome section */
#welcome-section{
    height: 100vh;
}

.right{
    background-color: #999;
    min-height: 450px;
    margin-left: 300px;
    padding-right: 0;
    /* border: 2px solid red; */
    background: url(images/scmyeza.jpg) no-repeat;
    
}

/* Style picture in the right. */
/* .photo{
    width: 300px;
    height: 300px;
    margin: 0 auto;
} */

/* .photo img{
    width: 100%;
    height: 100%;
} */



/* Styling for Footer. */
footer{
    background-color: #090;
    min-height: 60px;
}


/* Media Queries */

@media(min-width: 400px){
    .main{
        background-color:antiquewhite;
    }
}

@media(min-width: 992px){
    #header, #navbar{
        width: 100%
    }
    .container{
        margin: 0;
        padding: 0;
        width: 100vh;

    }
    #welcome-section{
        height: 100vh;
    }
}






















